---
title: Program
description: Program of the workshop.
image: /images/asiago1.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style = "text-shadow: 0px 0px 8px black;">Program of the workshop</h1>
		</div>
	</div>
	<div class="learn-more">
		<a href="#program" style = "text-shadow: 0px 0px 20px black;background-color: #696969; padding:10px; border-radius: 8px">Program<span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#participants" style = "text-shadow: 0px 0px 20px black;background-color: #696969; padding:10px; border-radius: 8px">Participants<span class="arrow">&#x25BC;</span></a>
</div>
</section>


<div class="content">
	<section class="info" id="program">
		<div class="container flex">
			<div class="text" style = "text-align: justify;text-justify: inter-word;">
				<h2 class="editable">The workshop program</h2>
						<style type="text/css">
								.tg  {border-collapse:collapse;border-spacing:0;}
								.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
								  overflow:hidden;padding:10px 5px;word-break:normal;}
								.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
								  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
								.tg .tg-phd{background-color:#cdf5b7;text-align:center;vertical-align:center}
							  .tg .tg-pdocs{background-color:#a9e99b;text-align:center;vertical-align:center}
							  .tg .tg-inv{background-color:#de9690;text-align:center;vertical-align:center}

								.tg .tg-1eo6{background-color:#eeeebb;text-align:center;vertical-align:center}
								.tg .tg-cbly{background-color:#ccf8ff;text-align:center;vertical-align:center}
								.tg .tg-ve2u{background-color:#ccddaa;text-align:center;vertical-align:center}
								.tg .tg-gggg{background-color:#e8e8e8;text-align:center;vertical-align:center}
								.tg .tg-baqh{text-align:center;vertical-align:center}
								.tg .tg-phmi{background-color:#ffcccc;text-align:center;vertical-align:center}
						</style>


						<table class="tg"  style="margin-left: auto; margin-right: auto; width: 100%">
												<thead---
title: Program
description: Program of the workshop.
image: /images/asiago1.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style = "text-shadow: 0px 0px 8px black;">Program of the workshop</h1>
		</div>
	</div>
	<div class="learn-more">
		<a href="#program" style = "text-shadow: 0px 0px 20px black;background-color: #696969; padding:10px; border-radius: 8px">Program<span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#participants" style = "text-shadow: 0px 0px 20px black;background-color: #696969; padding:10px; border-radius: 8px">Participants<span class="arrow">&#x25BC;</span></a>
</div>
</section>


<div class="content">
	<section class="info" id="program">
		<div class="container flex">
			<div class="text" style = "text-align: justify;text-justify: inter-word;">
				<h2 class="editable">The workshop program</h2>
						<style type="text/css">
								.tg  {border-collapse:collapse;border-spacing:0;}
								.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
								  overflow:hidden;padding:10px 5px;word-break:normal;}
								.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
								  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
								.tg .tg-phd{background-color:#cdf5b7;text-align:center;vertical-align:center}
							  .tg .tg-pdocs{background-color:#a9e99b;text-align:center;vertical-align:center}
							  .tg .tg-inv{background-color:#de9690;text-align:center;vertical-align:center}

								.tg .tg-1eo6{background-color:#eeeebb;text-align:center;vertical-align:center}
								.tg .tg-cbly{background-color:#ccf8ff;text-align:center;vertical-align:center}
								.tg .tg-ve2u{background-color:#ccddaa;text-align:center;vertical-align:center}
								.tg .tg-gggg{background-color:#e8e8e8;text-align:center;vertical-align:center}
								.tg .tg-baqh{text-align:center;vertical-align:center}
								.tg .tg-phmi{background-color:#ffcccc;text-align:center;vertical-align:center}
						</style>


						<table class="tg"  style="margin-left: auto; margin-right: auto; width: 100%">
												<thead>
												  <tr>
												    <th class="tg-baqh" style="width:10%"></th>
												    <th class="tg-baqh" style="width:15%">Sun 19</th>
														<th class="tg-baqh" style="width:25%">Mon 20</th>
														<th class="tg-baqh" style="width:25%">Tue 21</th>
														<th class="tg-baqh" style="width:25%">Wed 22</th>
												  </tr>
												</thead>
												<tbody>
													<tr height="60px">
													    <td class="tg-baqh">9:30</td>
															<td class="tg-gggg" rowspan="20"></td>
															<td class="tg-gggg" rowspan="2"></td>
															<td class="tg-inv" rowspan="2">Onofrio Mazzarisi</td>
															<td class="tg-inv" rowspan="4">Tutorial: Julia (Onofrio)</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">9:50</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">10:10</td>
															<td class="tg-inv" rowspan="2">Daniel M. Busiello </td>
															<td class="tg-phd" rowspan="1">Davide Zanchetta</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">10:30</td>
															<td class="tg-phd" rowspan="1">Clelia Corridori</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">10:50</td>
															<td class="tg-pdocs" rowspan="1">Michele Allegra</td>
															<td class="tg-phd" rowspan="1">Jacopo Pasqualini</td>
															<td class="tg-phmi" rowspan="2">Samir Suweis <br> Lab Organization</td>
													</tr>
													<tr height="90px">
															<td class="tg-baqh">11:10</td>
															<td class="tg-baqh" rowspan="1">Break</td>
															<td class="tg-baqh" rowspan="1">Break</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">11:40</td>
															<td class="tg-pdocs" rowspan="1">Ramon Guevara</td>
															<td class="tg-inv" rowspan="2">Daniele Iudicone</td>
															<td class="tg-phmi" rowspan="2">Cloudveneto and techincal resources</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">12:00</td>
															<td class="tg-phd" rowspan="1">Benedetta Mariani</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">12:20</td>
															<td class="tg-phd" rowspan="1">Giacomo Barzon</td>
															<td class="tg-phd" rowspan="1">Emanuele Pigani</td>
															<td class="tg-phmi" rowspan="2">Discussion & PhD initiatives</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">12:40</td>
															<td class="tg-phd" rowspan="1">Elisa Tentori</td>
															<td class="tg-phd" rowspan="1">First year PhDs</td>
													</tr>
													<tr height="120px">
													    <td class="tg-baqh">13:00 <br> 15:00</td>
															<td class="tg-cbly" rowspan="1">Lunch</td>
															<td class="tg-cbly" rowspan="1">Lunch</td>
															<td class="tg-cbly" rowspan="1">Lunch</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">15:00</td>
															<td class="tg-phd" rowspan="1">Prajwal Padmanabha</td>
															<td class="tg-phd" rowspan="1">Master students</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">15:20</td>
															<td class="tg-pdocs" rowspan="1">Giorgio Nicoletti</td>
															<td class="tg-1eo6" rowspan="8">Brainstorming & group meetings</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">15:40</td>
															<td class="tg-phd" rowspan="1">Fabio Menegazzo</td>
															<td class="tg-phd" rowspan="1">Emanuele Pigani</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">16:00</td>
															<td class="tg-inv" rowspan="1">Davide Bernardi</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">16:20</td>
															<td class="tg-inv" rowspan="1">Marika Sartore</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">16:40</td>
															<td class="tg-1eo6" rowspan="4">Brainstorming & group meetings</td>
													</tr>
													<tr>
													    <td class="tg-baqh">17:00</td>
													</tr>
													<tr>
													    <td class="tg-baqh">18:00</td>
													</tr>
													<tr>
													    <td class="tg-baqh">19:00</td>
													</tr>
													<tr>
													    <td class="tg-baqh">20:00</td>
															<td class="tg-cbly">Dinner</td>
															<td class="tg-cbly">Dinner</td>
															<td class="tg-cbly">Dinner</td>
													</tr>
												</tbody>
												</table>

						<p>PhD students (except first year students), Postdocs and members of the group will have 10 minutes for the presentation and 10 minutes for questions. First-year PhD students and Master students will have 5 minutes for presenting their planned work and 5 minutes for questions.</p>

					</div>
				</div>
	</section>

	<section class="info" id="participants">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The workshop participants</h2>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					<strong>Invited participants</strong>
					<ul>
						<li>Daniel Maria Busiello</li>
						<li>Onofrio Mazzarisi</li>
						<li>Daniele Iudicone</li>
						<li>Maurizio Ribera d'Alcalà</li>
						<li>Chiara Poletto</li>
						<li>Marika Sartore</li>
					</ul>
				</p>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					<strong>Senior Lab Members</strong>
					<ul>
						<li>Amos Maritan</li>
						<li>Samir Suweis</li>
						<li>Sandro Azaele</li>
					</ul>
				</p>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					<strong>Postdocs & PhD students</strong>
					<ul>
						<li>Michele Allegra (researcher)</li>
						<li>Ramon Guevara (researcher)</li>
						<li>Giorgio Nicoletti (postdoc)</li>
						<li>Benedetta Mariani (3rd year PhD student)</li>
						<li>Prajwal Padmanabha (3rd year PhD student)</li>
						<li>Jacopo Pasqualini (2nd year PhD student)</li>
						<li>Giacomo Barzon (2nd year PhD student)</li>
						<li>Elisa Tentori (2nd year PhD student)</li>
						<li>Davide Zanchetta (2nd year PhD student)</li>
						<li>Fabio Menegazzo (2nd year PhD student)</li>
						<li>Emanuele Pigani (2nd year PhD student)</li>
						<li>Clelia Corridori (1st year PhD student)</li>
						<li>Alice Doimo (1st year PhD student)</li>
						<li>Francesco Ferraro (1st year PhD student)</li>
					</ul>
				</p>
			</div>
		</div>
	</section>

</div>

												  <tr>
												    <th class="tg-baqh" style="width:10%"></th>
												    <th class="tg-baqh" style="width:15%">Sun 19</th>
														<th class="tg-baqh" style="width:25%">Mon 20</th>
														<th class="tg-baqh" style="width:25%">Tue 21</th>
														<th class="tg-baqh" style="width:25%">Wed 22</th>
												  </tr>
												</thead>
												<tbody>
													<tr height="60px">
													    <td class="tg-baqh">9:30</td>
															<td class="tg-gggg" rowspan="20"></td>
															<td class="tg-gggg" rowspan="2"></td>
															<td class="tg-inv" rowspan="2">Onofrio Mazzarisi</td>
															<td class="tg-phmi" rowspan="4">Amos Maritan & Sandro Azaele <br> Vision and projects</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">9:50</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">10:10</td>
															<td class="tg-inv" rowspan="2">Daniel M. Busiello </td>
															<td class="tg-phd" rowspan="1">Davide Zanchetta</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">10:30</td>
															<td class="tg-phd" rowspan="1">Elisa Tentori</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">10:50</td>
															<td class="tg-pdocs" rowspan="1">Michele Allegra</td>
															<td class="tg-phd" rowspan="1">Jacopo Pasqualini</td>
															<td class="tg-phmi" rowspan="2">Samir Suweis <br> Lab Organization</td>
													</tr>
													<tr height="90px">
															<td class="tg-baqh">11:10</td>
															<td class="tg-baqh" rowspan="1">Break</td>
															<td class="tg-baqh" rowspan="1">Break</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">11:40</td>
															<td class="tg-pdocs" rowspan="1">Ramon Guevara</td>
															<td class="tg-phd" rowspan="1">First Year PhDs</td>
															<td class="tg-phmi" rowspan="2">Cloudveneto and techincal resources</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">12:00</td>
															<td class="tg-phd" rowspan="1">Benedetta Mariani</td>
															<td class="tg-phd" rowspan="1">Master students</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">12:20</td>
															<td class="tg-phd" rowspan="1">Giacomo Barzon</td>
															<td class="tg-baqh" rowspan="2">Discussion</td>
															<td class="tg-baqh" rowspan="2">Discussion & PhD initiatives</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">12:40</td>
															<td class="tg-phd" rowspan="1">Clelia Corridori</td>
													</tr>
													<tr height="120px">
													    <td class="tg-baqh">13:00 <br> 15:00</td>
															<td class="tg-cbly" rowspan="1">Lunch</td>
															<td class="tg-cbly" rowspan="1">Lunch</td>
															<td class="tg-cbly" rowspan="1">Lunch</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">15:00</td>
															<td class="tg-phd" rowspan="1">Prajwal Padmanabha</td>
															<td class="tg-inv" rowspan="2">Daniele Iudicone</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">15:20</td>
															<td class="tg-pdocs" rowspan="1">Giorgio Nicoletti</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">15:40</td>
															<td class="tg-phd" rowspan="1">Fabio Menegazzo</td>
															<td class="tg-phd" rowspan="1">Emanuele Pigani</td>
													</tr>
													<tr height="60px">
													    <td class="tg-baqh">16:00</td>
															<td class="tg-inv" rowspan="1">Davide Bernardi</td>
															<td class="tg-inv" rowspan="2">Tutorial: Julia (Onofrio)</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">16:20</td>
															<td class="tg-inv" rowspan="1">Marika Sartore</td>
													</tr>
													<tr height="60px">
															<td class="tg-baqh">16:40</td>
															<td class="tg-1eo6" rowspan="4">Brainstorming & group meetings</td>
															<td class="tg-1eo6" rowspan="4">Brainstorming & group meetings</td>
													</tr>
													<tr>
													    <td class="tg-baqh">17:00</td>
													</tr>
													<tr>
													    <td class="tg-baqh">18:00</td>
													</tr>
													<tr>
													    <td class="tg-baqh">19:00</td>
													</tr>
													<tr>
													    <td class="tg-baqh">20:00</td>
															<td class="tg-cbly">Dinner</td>
															<td class="tg-cbly">Dinner</td>
															<td class="tg-cbly">Dinner</td>
													</tr>
												</tbody>
												</table>

						<p>PhD students (except first year students), Postdocs and members of the group will have 10 minutes for the presentation and 10 minutes for questions. First-year PhD students and Master students will have 5 minutes for presenting their planned work and 5 minutes for questions.</p>

					</div>
				</div>
	</section>

	<section class="info" id="participants">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The workshop participants</h2>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					<strong>Invited participants</strong>
					<ul>
						<li>Daniel Maria Busiello</li>
						<li>Onofrio Mazzarisi</li>
						<li>Daniele Iudicone</li>
						<li>Maurizio Ribera d'Alcalà</li>
						<li>Chiara Poletto</li>
						<li>Marika Sartore</li>
					</ul>
				</p>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					<strong>Senior Lab Members</strong>
					<ul>
						<li>Amos Maritan</li>
						<li>Samir Suweis</li>
						<li>Sandro Azaele</li>
					</ul>
				</p>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					<strong>Postdocs & PhD students</strong>
					<ul>
						<li>Michele Allegra (researcher)</li>
						<li>Ramon Guevara (researcher)</li>
						<li>Giorgio Nicoletti (postdoc)</li>
						<li>Benedetta Mariani (3rd year PhD student)</li>
						<li>Prajwal Padmanabha (3rd year PhD student)</li>
						<li>Jacopo Pasqualini (2nd year PhD student)</li>
						<li>Giacomo Barzon (2nd year PhD student)</li>
						<li>Elisa Tentori (2nd year PhD student)</li>
						<li>Davide Zanchetta (2nd year PhD student)</li>
						<li>Fabio Menegazzo (2nd year PhD student)</li>
						<li>Emanuele Pigani (2nd year PhD student)</li>
						<li>Clelia Corridori (1st year PhD student)</li>
						<li>Alice Doimo (1st year PhD student)</li>
						<li>Francesco Ferraro (1st year PhD student)</li>
					</ul>
				</p>
			</div>
		</div>
	</section>

</div>
